* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formContainer {
  background-color: #A2BCE0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.formContainer .formWrapper .form {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.form input {
  padding: 15px;
  border: none;
  width: 250px;
  border-bottom: 1px solid #BEB8EB;

  &::placeholder {
    color: #07020D;
    font-size: 16px;
  }
}

.form button {
  background-color: #BEB8EB;
  color: #07020D;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0px;

}

.formContainer .formWrapper {
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

}

.form span {
  color: #BEB8EB;
  font-size: 14px;
  padding: 10px;


}

form label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #BEB8EB;
  font-size: 16px;
  cursor: pointer;
}

form label img {
  cursor: pointer;
  width: 40px;
  margin: 10px;
}

.formContainer .formWrapper .logo {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: 07020D;
}

.formContainer .formWrapper .title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: 07020D;
}

.home {

  background-color: #A2BCE0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.home .container{
  border: 1px solid #0B5563;
  border-radius: 10px;
  width:65%;
  height: 90%;
  display: flex;
  overflow: hidden;
  box-shadow: #0B5563 0px 0px 10px 0px;
}
.sidebar{
  flex:1;
  border-right: 1px solid #0B5563;
  background-color: #0B5563;
}
.sidebar .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
  background-color: #9A94BC;
  color:#07020D;
}
.sidebar .logo{
  font-weight : bold ;
}
.sidebar .user {
  display: flex;
  align-items: center;
  color: #07020D;
}
img{
  width: 40px;
  margin: 10px;
  border-radius: 50%;
  object-fit: cover;
}
.sidebar .user button{
  background-color: #ffffff;
  color: #07020D;
  padding: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin: 10px;
  
}
.chat{
  flex:2;
}
.search {
  border-bottom: 1px solid #0B5563;
  padding: 10px;
}

.search {
  border-bottom: 1px solid gray;
}
.searchForm {
    padding: 10px;
}
.searchForm    input {
      background-color: transparent;
      color: white;
      outline: none;
      border-radius: 10px;
      padding: 10px;


      &::placeholder {
        color: lightgray;
      }
    }
  .userChat {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
  
  }
  .userChat:hover{
    background-color: #9A94BC;
    border-radius: 10px;
  }
  .userChat img {
    width: 40px;
    margin: 10px;
    border-radius: 50%;
    object-fit: cover;
  }